html {
    background-image: url("../images/checkerboard.jpg");
}
body {
    background-color:white;
    margin: 0px 10px 0px 20px;
}
header {
    display:flex;

}
header h1 {
    margin-left:50%;}


nav ul li a{
        text-decoration:none;
        color:white;
        font-size:25px;
        
       }
/* Codes continue */

body nav ul{
    display:flex;
    flex-direction:row;
    background-color:#3a3a3a;
    color:white;
    justify-content:space-evenly;
    
}

ul li {
    list-style-type:none;
}

nav ul li
{ list-style-type: none;
    margin-left:-50px;
}

    
/*FORM*/
main form{
    margin-left:150px;
}
form label {
    font-size:50px;
}

/* */
.cup {
    display:flex;
    position:relative;
}
.cup p {
    font-size:20px;
    width:200px;
    margin-left:100px;
    text-align:left;
    
}


button {
    font-size:30px;
    padding:10px 10px 10px 10px;
    background-color: #a6cbeb;
    position:absolute;
    margin-top:550px;
    margin-left:70%;
     
}
.main-2{
    margin:0 auto;
    margin-left:50px;
}
.upgrade {
    display:grid;
    grid-template-columns:50% 50%;
    margin:0 auto;
    margin-top:100px;
    font-size:30px;
}

.dolor h3{
    font-size:30px;
}
.dolups{
    text-align:center;
}
.dolups img{
    margin-left:10px;
}
.dolups p {
    font-size:20px;
}


footer{
    margin-top:50px;
    font-size:15px;
    text-align:center;
    border-top: 6px solid black;
}

.Update-Vehicle input {
    margin-top:30px;
}     
main form{
    margin-left:10px;
}
form label {
    font-size:25px;
}
.SignInput{
    background-color:lightblue;
    text-align:center;
    font-size:20px;
    padding: 5px 5px 5px 5px;
    color:black;}

header {
  display:flex; 
  justify-content:flex-end;

   } 
header a {
    font-size:30px;
    margin-top:50px;
   text-decoration:none;
   padding:20px;
  }
header img {
    margin-right:auto;
}
h3 {
    font-size:40px;
}
/* Client Data */
form {
    margin-left:20px;
}
h1.headtwo {
    margin-left:10px;
}
form.f1 {
    margin-left:20px;
}
main h1 {
    margin-left:10px;
}
.Update-Vehicle input {
    padding:5px;
    background-color:#008CBA;
    border-radius:12px;
}
/* Update */
.admin-div p {
    margin-left:10px;
}
.admin-div a {
    margin-left:10px;
}
.works p {
    color: red;
    font-size:30px;
    font-style: italic;
    margin-left:20px;
}

html{
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

   #inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
   #inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
   }
   
   #inv-display li img {
       max-width: 100%;
   }
   div.vehiclespace ul li{
    width:300px;  
    margin:80px auto;
    padding:20px;
    text-align:center
}

fieldset{
    width:20%;
    margin-top:30px;
    display:flex;
}
fieldset p {
    padding-right:10px;
}

#image-display {
    display:grid;
 grid-template-columns: 1fr 1fr;
}
section .thumbnailImg {
    display:flex;
    flex-direction: column;
}
.infoDiv figure img {
    width:350px;
    height:400px;
}
section .thumbnailImg li img{
    transition: transform .2s;
    width:100px;
    height:80px;
    
  
  }
  
section  .thumbnailImg li img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

.infoDiv {
 margin-left:150px;
 margin-top:-337px;

}
